html {
  background: url(lumber-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0;
}
aside {
  font-family: lato;
  font-weight: 700;
  height: 175px; /* Full-height: remove this if you want "auto" height */
  width: 165px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ffffffd2;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  margin-top: 133px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0px 5px 5px 0px;
}
aside a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px;
}
aside a:hover {
  border-left: 4px solid black;
}

/* .topheader {
  position: fixed;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 75px;
  background-color: #ffffffbd;
} */

.topheader h1 {
  font-size: 3em;
  font-family: slabo;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px #000000;
}
.fa-laptop-code {
  margin-left: 10px;
}
.bodycontent {
  background-color: #ffffff;
  width: 50vw;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow-y: auto;
  margin-top: 45px;
}
.myimg {
  padding: 10px;
  width:12.5em;
  height:12.5em;
  object-fit: cover;
  border-radius:50%;
  display: inline-block;
}
.floated  {
  float: right;
}
.bodycontent p {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  font-size: 1.130em;
}
.bodycontent :first-child {
  display: inline;
}
.paragraf-div {
  padding: 5px;
}

