}
html { 
  background: url(https://i.imgur.com/agS3gNf.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
  color:white;
  font-size:72px;
  text-align: center;
}
