html {
    background: url(https://images.unsplash.com/photo-1495476479092-6ece1898a101?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  body {
    font-family: Lato;
    margin: 0;
    font-size: 1.2em;
  }
  
  #topheader {
    text-align: left;
    font-family: Mansalva;
    margin: 0;
    position: static;
    color: rgba(255, 255, 255, 0.781);
    display: inline-block;
  }
  
  #topheader:nth-child(2) {
    text-align: center;
    position: static;
    float: right;
  }
  
  nav {
    position: absolute;
    display: block;
    text-align: center;

  }
  nav li {
    display: inline;
  }
  nav li ul li {
    color: rgba(255, 255, 255, 0.781);
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  .nava {
    color: rgba(255, 255, 255, 0.781);
    display: inline-block;
    padding: 10px;
    text-decoration: none;
  }
  
 
  .navcontent {
    display: none;
  }
  .navcontent a {
    color: rgba(255, 255, 255, 0.781);
    text-decoration: none;
  }
  .navcontent a:hover {
      color: black;
  }
  
  .navcontent li:hover {
    background-color: rgba(255, 255, 255, 0.192);
    display: inline-block;
    cursor: pointer;
  }
  .navcontent {
      background-color: rgba(255, 255, 255, 0.192);
  }
  .navmeny:nth-child(2) > a:after {
    content: " ▼";
  }
  .nav {
    margin: 0;
  }
  h1 {
    color: rgba(255, 255, 255, 0.781);
  }
  
  .navmeny:hover > ul {
    display: block;
  }
  .navmeny:hover {
    background-color: rgba(255, 255, 255, 0.192);
  }
  #headerbar {
    background-color: rgba(255, 255, 255, 0.192);
    width: 100%;
    height: 20px;
  }
  #footerbar {
    display: none;
  }
  
  .brädfärg{
    border: 1px solid grey;
      width: 75px;
      height: 75px;
  }

 table {
     margin:0 auto;
     margin-top: 120px;
    border-collapse: collapse;
    border: 2px solid grey;

 }

 tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
    background: black;
  }
  tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background: white;
  }